h1{
  color:darkblue;
}
body{
  background-color:url(4k-wallpaper-animal-beautiful-1408221.jpg) ;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
  width:75%;
  margin:auto;
  border:15px green;
  padding:25px;
  margin:auto;
}
.style-1{
  background-color: lightgrey;
  width:75%;
  border: 15px green;
  padding: 25px;
  margin:auto;
}
 
